* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Unbounded", cursive;
}

.navbar {
  background-color: black;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: space-between;
  height: 7rem;
}
.navbar .logo img {
  width: 150px;
  height: 90px;
  float: left;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}
.navbar .nav__list {
  list-style: none;
  float: right;
  margin-left: 75px;
  padding: 30px 0;
  float: left;
  display: flex;
}
.navbar .nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-left: 3rem;
  font-size: 1.4rem;
}
.navbar .nav_link::before {
  display: block;
  content: "";
  width: 0%;
  background: #00aeff;
  height: 7px;
  top: 0;
  position: absolute;
  transition: 0.8s;
}
.navbar .nav_link:hover::before {
  width: 15%;
}

.inicio {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}
.inicio .text_principal {
  color: #cc0404;
  margin-bottom: 1rem;
  font-size: 3rem;
}

main {
  background-color: white;
}

.card {
  margin: 2rem;
  background-color: white;
}
.card .card-title {
  color: black;
}
.card .card-text {
  font-size: 1.2rem;
}
.card .card-img-top {
  width: 120px;
}

.paseonline {
  background-color: #00aeff;
  width: 100%;
  margin-bottom: 3rem;
}
.paseonline .btn {
  background-color: rgb(38, 211, 3);
}

.text_network {
  font-size: 2rem;
  background-color: rgb(196, 194, 194);
  color: black;
  margin-top: 3rem;
}

.icons {
  background-color: rgb(196, 194, 194);
}

.icon {
  font-size: 3rem;
  color: crimson;
}

.copyrigth {
  font-size: 1rem;
  background-color: black;
  color: white;
}

.seccioni1 {
  background-color: #00aeff;
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}
.seccioni1 .card3 {
  display: flex;
}
.seccioni1 .textn_container {
  width: 40%;
}
.seccioni1 .text_nosotros {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-left: 2rem;
}
.seccioni1 .imgn {
  margin-bottom: 2rem;
  width: 60%;
}
.seccioni1 .img_n {
  height: 400px;
}

.title_servicios {
  text-align: center;
  margin-top: 1.5rem;
}

.container_n {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.container_n .card2 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: gray;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.container_n .card2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.container_n .img_card {
  width: 100%;
  height: 210px;
}
.container_n .contenido2 {
  padding: 15px;
  text-align: center;
}
.container_n .contenido2 h2 {
  font-weight: 400;
  color: white;
}

.container_info {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.container_info .infoc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_info .infoc .infom {
  margin-left: 2rem;
  background-color: #00aeff;
}

/*# sourceMappingURL=style.css.map */
