.text_network {
  font-size: 2rem;
  background-color: rgb(196, 194, 194);
  color: black;
  margin-top: 3rem;
}
.icons {
  background-color: rgb(196, 194, 194);
}
.icon {
  font-size: 3rem;
  color: crimson;
}
.copyrigth {
  font-size: 1rem;
  background-color: black;
  color: white;
}
