.inicio {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;

  .text_principal {
    color: #cc0404;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

main {
  background-color: white;
}

.card {
  margin: 2rem;
  background-color: white;
  .card-title {
    color: black;
  }
  .card-text {
    font-size: 1.2rem;
  }
  .card-img-top {
    width: 120px;
  }
}

.paseonline {
  background-color: #00aeff;
  width: 100%;
  margin-bottom: 3rem;
  .btn {
    background-color: rgb(38, 211, 3);
  }
}
