.inicio {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
  background-color: #00e1ff;

  .text_principal {
    color: #cc0404;
    margin-bottom: 1rem;
  }
}

main {
  background-color: white;
}

.card {
  margin: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  .card-title {
    color: black;
  }
  .card-img-top {
    width: 124px;
  }
}

.paseonline {
  background-color: #00e1ff;
  width: 100%;
  margin-bottom: 3rem;
  .btn {
    background-color: rgb(38, 211, 3);
  }
}
