* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Unbounded", cursive;
}

@import "_navbar.scss";
@import "_index.scss";
@import "_actividades.scss";
@import "_footer.scss";
@import "_contactanos.scss";
@import "_elegituplan.scss";
@import "_nosotros.scss";
